[submodule "unor4wifi-reboot/hid"]
	path = unor4wifi-reboot/hid
	url = https://github.com/pennam/hid.git
[submodule "libraries/Arduino_DebugUtils"]
	path = libraries/Arduino_DebugUtils
	url = https://github.com/arduino-libraries/Arduino_DebugUtils.git
[submodule "libraries/ArduinoBLE"]
	path = libraries/ArduinoBLE
	url = https://github.com/arduino-libraries/ArduinoBLE.git
[submodule "libraries/Arduino_ESP32_OTA"]
	path = libraries/Arduino_ESP32_OTA
	url = https://github.com/arduino-libraries/Arduino_ESP32_OTA.git
[submodule "libraries/BOSSA"]
	path = libraries/BOSSA
	url = https://github.com/arduino/BOSSA.git
	branch = unor4wifi
[submodule "hardware/esp32-patched/esp32"]
	path = hardware/esp32-patched/esp32
	url = https://github.com/arduino/arduino-esp32.git
	branch = unor4wifi-2.0.9
	shallow = true
[submodule "libraries/ArduinoHttpClient"]
	path = libraries/ArduinoHttpClient
	url = https://github.com/andreagilardoni/ArduinoHttpClient.git
